<div class="pv1 mt4">
  <%= link_to 'Keep Shopping', instruments_path, class: '' %>
</div>
<hr />
<section class="">
  <%= render(@cart.line_items) %>

  <div>
    <div>
      <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " }, class: "" %>
    </div>
    <div>
      <h4 class="is-4">
        <span class="f5">Total:</span> <%= number_to_currency(@cart.total_price) %>
      </h4>
    </div>
  </div>
</section>