<% content_for :header do %>
<section class="container">
  <div>
    <div class="row">
      <h4>
        Editing product
      </h4>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', product: @product %>
</div>