<% content_for :header do %>
<section>
  <div>
    <div>
      <h1>
        Editing Instrument
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="pv4">
  <%= render 'form', instrument: @instrument %>
</div>